.app-content{
  margin-top: 4%;
  margin-left: 20%;


}
.profile{

}
.img-responsive{
margin-top: 15%;
  align-self: center;
}
.name{
  padding-top: 10%;
  font-size: x-large;

}
.email{
font-size: large;
}

.profile-image{
  margin-top: 15%;
  align-self: center;
}
.list-group{
  padding-top: 8%;
}

.booksViewed{
  padding-top: 2%;
  text-align: center;
}

