
.result-table {
  padding-top: 20px;

  h2{
    padding-bottom: 20px;
  }

}

.react-rater {
  a {
    font-size: 1.1em;
    color: #ccc;
    &:hover {
      cursor: pointer;
    }
  }
  .is-active{
    color: #fc6;
  }
}

.search-bar-container {
  margin-bottom: 20px;
}

.result-object{
  display: flex;
  margin: 0;

  li{
    border-bottom: solid 1px #ddd;
    border-right: solid 1px #ddd;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    &:first-child{
      border-left: solid 1px #ddd;
    }
  }

  &.header {
    li {
      background-color: $background;
      color: white;

    }
  }

}

.result-table-row {
  &:nth-child(odd){
    .result-object{
      &:hover{
        background-color: darken(white, 3%);
        cursor: pointer;
      }
    }
  }

  &:nth-child(even){
    background-color: #f0f7fa;
    .result-object{
      &:hover{
        background-color: darken(#E6EFF2, 3%);
        cursor: pointer;
      }
    }
  }
  &:last-child{
    border-bottom: solid 1px #ddd;
  }
}

.result-table {

  margin-bottom: 50px;

  .result-object-header{


    li{
      $table-border-color: #bbb;
      $table-border-size: 1px;

      background-color: $background;
      color: $color;


      border-right: solid $table-border-size $table-border-color;
      border-bottom: solid $table-border-size $table-border-color;
      border-top: solid $table-border-size $table-border-color;

      &:first-child{
        border-left: solid $table-border-size $table-border-color;
      }

      &:hover{
        cursor: pointer;
        color: $hover;
        background-color: $background-hover;
      }
    }

  }
}

#user-chevron, #title-chevron, #state-chevron, #price-chevron, #user-chevron, #userRating-chevron, #added-chevron{
  font-size: 12px;
}
