
.result-object-details {
  border-left: 1px solid #ddd;
  border-bottom:  1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 20px;
}

.placeholder-image {
  margin: 30px auto auto auto;
  .glyphicon{
    font-size: 130px;
  }
}