
.result-table {
  padding-top: 20px;

  h2{
    padding-bottom: 20px;
  }
}

.bookTable {
  margin-top: 50px;
  margin-left:auto;
  margin-right:auto;
}

.label {
  display: block;
}

.react-rater {
  a {
    color: #ccc;
    &:hover {
      cursor: pointer;
    }
  }
  .is-active{
    color: #fc6;
  }
}

.glyphicon-user{
  color: grey;
  border-radius: 30px;
  background-color: #eee;
  padding: 4px;
  margin-right: 4px;
}

.search-bar-container {
  margin-bottom: 20px;
}
