
.search-filter {
  padding-top: 90px;

  a {
    text-decoration: none;
      font-size: 10pt;
  }
  h6{
    text-align: center;
    font-size: 12pt;
    font-weight: normal;
  }
  .panel {
    background-color: #efefef;

    .panel-body {
      background-color: #ffffff;
    }
  }
  .glyphicon-chevron-right{
    font-size: 8pt;
  }
  .glyphicon-chevron-down{
    font-size: 8pt;
  }

  .filter-type {

    &:hover {
      cursor: pointer;
      color: #555;
    }
  }

  .checkbox {
    font-size: 10pt;
  }

  .not-active {
    color: #ccc;
  }
  .is-active{
    color: #fc6;
  }

}
