
.search-filter {
  padding-top: 94px;

  a {
    text-decoration: none;
      font-size: 10pt;
  }
  h6{
    text-align: center;
    font-size: 12pt;
    font-weight: normal;
    margin-bottom: 20px;
  }
  .panel {
    border-radius: 0px;
    border: 1px solid #ddd;

    .panel-body {
      background-color: #ffffff;
    }

  }
  .glyphicon-chevron-right{
    font-size: 8pt;
    margin-top: 5px;
  }
  .glyphicon-chevron-down{
    font-size: 8pt;
     margin-top: 5px;
  }

  .filter-type {

    &:hover {
      cursor: pointer;
      color: #555;
    }
  }

  .checkbox {
    font-size: 10pt;
  }

  .not-active {
    color: #ccc;
  }
  .is-active{
    color: #fc6;
  }

}
