
@import 'about';
@import 'content';
@import 'footer_content';
@import 'label_converter';
@import 'layout';
@import 'navigation';
@import 'not_found';
@import 'search';

header, footer {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #566270;
  color: black;
}


.input-group{
    width: 65% !important;
    margin: 0 auto;
  }


.app-content {
  min-height: 725px;
}

.bookTable {
  margin-top: 50px;
  margin-left:auto;
  margin-right:auto;
}

.navigation {
  margin-top: 100px;
}

.square {
  border-radius: 0;
}

.label {
  display: block;
}

.react-rater a {
  color: #ccc;
}

.react-rater .is-active {
  color: #fc6;
}

.glyphicon-user{
  color: grey;
  border-radius: 30px;
  background-color: #eee;
  padding: 4px;
  margin-right: 4px;
}
