.site {
    width: 100%;
    height: 100vh;
    white-space: nowrap;
}

.navbar{
    box-sizing:border-box;
    float:left;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    background-color: #eee;
    width: 250px;
}

td {
}

.searchbar {
    position: relative;
    top: 20px;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.result_table {
    width: 900px;
    position: relative;
    display: table;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
  height: 34px;
}


.glyphicon-user{
    color: grey;
    border-radius: 30px;
    background-color: #eee;
    padding: 4px;
    margin-right: 4px;
}

/*Create labels with the same css as Bootstrap label*/
.New, .Readable, .Normal.Use, .As.New{
    display: block;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}


/*Custom label colours applied depending on state of the book */
.New {
    background-color: #33cc33;  
}

.Readable {
    background-color: #e60000;
}

.Normal.Use {
    background-color: grey;
}

.As.New {
    background-color: #06c8f9;
}

.react-rater a{
    color: #ccc;
}

.react-rater a:hover{
    text-decoration: none;
}

.react-rater a.is-active{
    color: #fc6 ;
}