header, footer {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #c0c0c0;
    color: black;
}

.app-content {
    min-height: 725px;
}

.bookTable {
    margin-top: 50px;
    margin-left:auto;
    margin-right:auto;
}

.searchInput {
    width: 500px;
}

.navigation {
    margin-top: 50px;
}

.square {
    border-radius: 0;
}

.label {
    display: block;
}

.react-rater a {
    color: #ccc;
}

.react-rater .is-active {
    color: #fc6;
}

.glyphicon-user{
    color: grey;
    border-radius: 30px;
    background-color: #eee;
    padding: 4px;
    margin-right: 4px;
}